@use '../../Context/mixin.scss' as *;
@use '../../Context/theme.scss' as *;

:root {
  --shadow-color-dark: #4b4d4b;
  --shadow-color-light: #cccccc;
  font-size: 62.5%;
}
* {
  font-family: sans-serif;
}
.title {
  text-align: center;
}
.productList {
  margin: 4rem 8rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  gap: 8rem;
  max-width: 120rem;
  overflow: scroll;
  border: 2px solid var(--shadow-color-light);
  padding: 2rem ;
  border-radius: 2rem;
  @include boxShadow(var(--shadow-color-light));
}

.productList::-webkit-scrollbar {
  display: none;
}

.cardImage {
  width: 30rem;
  height: 30rem;
  border-radius: 2rem;
  object-fit: cover;
}

.theme-switcher {
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  background: var(--shadow-color-light);
  
  border-radius: 5px;
  font-size: 1.6rem;
}

body.dark .theme-switcher {
  background: var(--shadow-color-dark);
  color: var(--shadow-color-light);
}
